<!--<div style="padding: 13px;">-->
<!--    <mat-spinner *ngIf="contactList.length === 0"></mat-spinner>-->
<!--    <mat-card *ngFor="let contact of contactList" style="margin-top:10px;">-->
<!--      <mat-card-header>-->
<!--        <mat-card-title>{{contact.firstName}} {{contact.lastName}}</mat-card-title>-->
<!--      </mat-card-header>-->
<!--      <mat-card-content>-->
<!--        <p>-->
<!--          {{contact.company}}-->
<!--        </p>-->
<!--      </mat-card-content>-->
<!--    </mat-card>-->
<!--  </div>-->

<mat-spinner *ngIf="contactList.length === 0"></mat-spinner>

<mat-table class="lessons-table mat-elevation-z8" [dataSource]="contactList">

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let item">{{item.firstName}} {{item.lastName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="company">
    <mat-header-cell *matHeaderCellDef>Company</mat-header-cell>
    <mat-cell class="duration-cell" *matCellDef="let item">{{item.company}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
    <mat-cell class="duration-cell" *matCellDef="let item">{{item.email}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="phone">
    <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
    <mat-cell class="duration-cell" *matCellDef="let item">{{item.phone}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="address">
    <mat-header-cell *matHeaderCellDef>Addresss</mat-header-cell>
    <mat-cell class="duration-cell" *matCellDef="let item">{{item.address}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>

</mat-table>



<!--<div>-->
<!--  <h1>NgFor Table Example</h1>-->
<!--  <table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>#</th>-->
<!--      <th>Customer Name</th>-->
<!--      <th>Email</th>-->
<!--      <th>Action</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let item of contactList">-->
<!--&lt;!&ndash;      <th>{{ item._id }}</th>&ndash;&gt;-->
<!--      <th>{{ item.firstName}} {{item.lastName}}</th>-->
<!--      <td>{{ item.email }}</td>-->
<!--      <td>-->
<!--        <button type="button" >Delete</button>-->
<!--      </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->

